name: Birthday Bot

on:
  schedule:
    - cron: '30 11 * * *'  # UTC vaqtida 16:30 Toshkent (UTC+5)
  workflow_dispatch:        # Qo'lda ishga tushirish uchun

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Kodni olish
        uses: actions/checkout@v4

      - name: Python o'rnatish
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Kutubxonalarni o'rnatish
        run: |
          pip install pandas python-telegram-bot==20.3 pytz

      - name: Botni ishga tushirish
        run: python telegram_tabrik.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
